* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family:  'Poppins', sans-serif;
}
main{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.title{
    width:100%;
    height:16%;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}
.line{
    background-color: orangered;
    width: 5%;
    height: 0.5%;
    align-self: center;
}
.buttons{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.btn{
    font-size: 2em;
    width:fit-content;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 15px;
    color: orangered;
    border-color: orangered;
    transition: 1.1s;
}
.btn:hover{
    background-color: orangered;
    color: white;
    cursor: pointer;
}
.items{
    width: 100%;
    height: 50%;
    padding-left: 12%;
    margin-top: 3%;
    padding-right: 12%;
    display: flex;
    flex-wrap: wrap;
}
.meal{
    width: 550px;
    height: 180px;
    display: flex;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.image{
    background-color: aqua;
    border-style: solid;
    border-color: orangered;
    width:40%;
    height: 90%;
}
.info{
    width: 58%;
    margin-left: 3%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.name{
    width:100%;
    height:15%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: 550;
    /* align-items: center; */
    border-bottom-style: dashed;
    border-bottom-width: thin;
}
.price{
    color:orangered
}
.details{
    width: 100%;
    height:82%;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 1.5em;
}

.none{
    display: none;
}
div[visibility="false"]{
        display: none;
    }